<%- include('navbar') %>
<head>
    <title>Admin Console</title>
</head>
<br><br><br>
<center>
    <h3>Admin Console</h3>
</center>
<div>
    <h3>Welcome Admin!</h3>
</div>
<br><br><br>
<%- include('footer') %>