<%- include('navbar') %>
<head>
    <title>Beetroot Recipes</title>
</head>
<br><br><br>
<center>
    <h2>Beetroot Recipes</h2>
    <div class="beetroot">
      
        <img src="" alt="">
        </div>
</center>
<br><br><br>
<%- include('footer') %>