<%- include('navbar') %>
<head>
    <title>Brinjal Recipes</title>
</head>
<br><br><br>
<center>
    <h2>Brinjal recipes</h2>
    <div class="brinjal">
      
        <img src="" alt="">
        </div>
    
</center>
<br><br><br>
<%- include('footer') %>