<%- include('navbar') %>
<title>
	Veggie Market
</title>
<br><br>
	  <h2>&nbsp;&nbsp;Recipes separated by vegetables, </h2>
	  <br>
<center>
	  <div class="vegcontent">
		<a href="/beetrootrecipes"><img src="beetroot.jpg" alt=""></a>
		<a href="/cabbageRecipes"><img src="cabbage.jpg" alt=""></a>
		<a href="brinjalRecipes"><img src="brinjal.jpg" alt=""></a>
		<a href="/Ladyfingerrecipes"><img src="ladysfinger.jpg" alt=""></a>
		<a href="/carrotRecipes"><img src="carrot.jpg" alt=""></a>
		<a href="/CauliflowerRecipes"><img src="cauliflower.jpg" alt=""></a>
		<a href="/peans"><img src="peans.jpg" alt=""></a>
		<a href="/pumpkinrecipes"><img src="pumpkin.jpeg" alt=""></a>
		<a href="/OnionRecipes"><img src="Onion.jpg" alt=""></a>
		<a href="/tomato"><img src="tomato.jpg" alt=""></a>
		<a href="/Potato"><img src="potato.jpg" alt=""></a> 
		<a href="/shallotsrecipes"><img src="shallots.jpg" alt=""></a>
	</div></center>
<!-- bootstrap javascript link -->
		<script src="	https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
		<script src="	https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- About page -->
<br>
<center>
   <div id="about">
	<br><br>
	<h2>About</h2> <br><br>
	<p>I'm Karthi Pandian ,I live in Puliyagudi with my family.</p>
   <br>

   <p>Coming from a traditional Indian family, I learnt cooking good
	 Indian food from my Mom & culinary experts in our extended families.</p>
     <br>
	 <p>After 2 decades of experience in practical
		Indian cooking. I started this blog to share
		my recipes Instructions that are simple,
		quick, delicious and healthy.
		<br>
		<br>
	 </p>
</div>
</center>

</body>

</html>
