<%- include('navbar') %>
<head>
    <title>Cabbage Recipes</title>
</head>
<br><br><br>
<center>
    <h2>Cabbage recipes</h2>
    <div class="cabbage">
      
        <img src="" alt="">
        </div>
    
</center>
<br><br><br>
<%- include('footer') %>