<%- include('navbar') %>
<head>
    <title>carrot Recipes</title>
</head>
<br><br><br>
<center>
    <h2>carrot recipes</h2>
    <div class="carrot">
      <a href="/carrotdish"><img src="carrotrice.jpeg" alt=""></a>
     <a href="/carrotpartha"><img src="carrotpartha.jpeg" alt=""></a>
     <a href="/carrotcurry"><img src="ccurry.jpeg" alt=""></a>
     <a href="/lentilsoup"><img src="lentilsoup.jpeg" alt=""></a>
     <a href="/carrotfry"><img src="carrotfry.jpeg"></a>
     <a href="/pickelcarrot"><img src="pickelcarrot.jpeg"></a>
    </div>
    
</center>
<br><br><br>
<%- include('footer') %>