<%- include('navbar') %>
<head>
    <title>Cauliflower Recipes</title>
</head>
<br><br><br>
<center>
    <h2>Cauliflower recipes</h2>
    <div class="cauli">
      
        <img src="" alt="">
        </div>
    
</center>
<br><br><br>
<%- include('footer') %>