<%- include('navbar') %>
<head>
    <title>carrotrecipe</title>
</head>
<br><br><br>
<center>
    <h2>CARROT RICE</h2>
    <div class="">
        <!-- <img src="../Images/onionchutney.jpg" alt="jd" > -->
        <br><br>
        <img src="carrotrice.jpeg">
        <h4>Cook basmati rice and let it cool slightly.
            <br><br><br><br>
            Heat ghee or oil in a pan and add mustard seeds, cumin seeds, and curry leaves.
            <br><br><br><br>
            Add grated carrots and sauté until they are slightly cooked.
            <br><br><br><br>
            Add cooked rice to the pan and mix well, ensuring the carrots are evenly distributed.
            <br><br><br><br>
            Season with salt, turmeric powder, and any other spices you like.
            <br><br><br><br>
            Garnish with chopped coriander leaves and serve hot with raita (yogurt dip) or pickle.
            </h4>
        

        </div>
</center>
<br><br><br>
<%- include('footer') %>

