<center>
    <div id="about"><br>
     <h2>About</h2> <br>
     <p>I'm Karthi Pandian ,I live in Puliyagudi with my family.</p>
    <br>
 
    <p>Coming from a traditional Indian family, I learnt cooking good
      Indian food from my Mom & culinary experts in our extended families.</p>
      <br>
      <p>After 2 decades of experience in practical
         Indian cooking. I started this blog to share
         my recipes Instructions that are simple,
         quick, delicious and healthy.
      </p><br>
 </div>
 </center>