<%- include('navbar') %>
<title>
	Mindful Meals
</title>
<div class="edit">
<img src="HEALTHY FOOD LOGO DESIGN.jpg"" width="30%" height="313px">
<div><h2 class="pro">Fitness starts at home. What you eat is what you will look, just as what you sow is what you reap. Eat good food: eat fruits, vegetables, healthy grains, and don't go for sweet and trite food.</h2></div></div></center>
<br>
<br><hr>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
	<link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
	

	<section class="pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h3 class="mb-3" >Top-Related Recipes</h3>
				</div>
				<div class="col-6 text-right">
					<a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
						<i class="fa fa-arrow-left"></i>
					</a>
					<a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
						<i class="fa fa-arrow-right"></i>
					</a>
				</div>
				<div class="col-12">
					<div id="carouselExampleIndicators2" class="carousel slide" >
	
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="row">
	
									<div class="col-md-4 mb-3">
										<div class="card">
											<img class="img-fluid" alt="100%x280" src="tomato.jpg" style="height: 300px;">
											<div class="card-body">
												<h4 class="card-title">Tomato Recipe</h4>
											</div>
	
										</div>
									</div>
									<div class="col-md-4 mb-3">
										<div class="card">
											<img class="img-fluid" alt="100%x280" src="carrot.jpg" style="height: 300px;">
											<div class="card-body">
												<h4 class="card-title">Carrot Recipe</h4>
											</div>
										</div>
									</div>
									<div class="col-md-4 mb-3">
										<div class="card">
										<img class="img-fluid" alt="100%x280" src="Onion.jpg" style="height: 300px;">
											<div class="card-body">
												<h4 class="card-title">Onion Recipe</h4>	
											</div>
										</div>
									</div>
	
								</div>
							</div>
							<div class="carousel-item">
								<div class="row">
	
									<div class="col-md-4 mb-3">
										<div class="card">
											<img class="img-fluid" alt="100%x280" src="beetroot.jpg" style="height: 300px;">
											<div class="card-body">
												<h4 class="card-title">Beetroot Recipe</h4>	
											</div>	
										</div>
									</div>
									<div class="col-md-4 mb-3">
										<div class="card">
											<img class="img-fluid" alt="100%x280" src="cauliflower.jpg" style="height: 300px;">
											<div class="card-body">
												<h4 class="card-title">Cauliflower Recipe</h4>
	
											</div>
										</div>
									</div>
									<div class="col-md-4 mb-3">
										<div class="card">
											<img class="img-fluid" alt="100%x280" src="potato.jpg" style="height: 300px;">
											<div class="card-body">
												<h4 class="card-title">potato Recipe</h4>	
											</div>
										</div>
									</div>
	
								</div>
							</div>
							<div class="carousel-item">
								<div class="row">
	
									<div class="col-md-4 mb-3">
										<div class="card">
											<img class="img-fluid" alt="100%x280" src="Lemon.jpg" style="height: 300px;">
											<div class="card-body">
												<h4 class="card-title">Lemon Recipe</h4>	
											</div>
	
										</div>
									</div>
									<div class="col-md-4 mb-3">
										<div class="card">
											<img class="img-fluid" alt="100%x280" src="vendakai.jpg" style="height: 300px">
											<div class="card-body">
												<h4 class="card-title">Okra Recipe</h4>
	
											</div>
										</div>
									</div>
									<div class="col-md-4 mb-3">
										<div class="card">
											<img class="img-fluid" alt="100%x280" src="Greenbeans.jpg" style="height: 300px;">
											<div class="card-body">
												<h4 class="card-title">Green Beans Recipe</h4>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="	https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
		<script src="	https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<!-- About page -->
<br><hr>
<center>
   <div id="about"><br>
	<h2>About</h2> <br>
	<img src="instlogo.png" alt="">
	<p>I'm Karthi Pandian ,I live in Puliyagudi with my family.</p>
   <br>

   <p>Coming from a traditional Indian family, I learnt cooking good
	 Indian food from my Mom & culinary experts in our extended families.</p>
     <br>
	 <p>After 2 decades of experience in practical
		Indian cooking. I started this blog to share
		my recipes Instructions that are simple,
		quick, delicious and healthy.
	 </p><br>
</div>
</center>

</body>

</html>
