<%- include('navbar') %>
<head>
    <title>Ladys finger recipes</title>
</head>
<br><br><br>
<center>
    <h2>Lady fingers</h2>
    <div class="ladysrcon">
      <a href="/Aloobhindi"><img src="aloobhindi.jpg" alt=""></a>
       <a href="/pyazBhindi"><img src="pyaz.jpg" alt=""></a> 
        <a href="/peanut"><img src="peanut.jpg" alt=""></a>
       <a href="/bhindifry"><img src="ldfry.jpg" alt=""></a>
        <a href="/bhindiraita"><img src="raita.jpg" alt=""></a>
       <a href="/crispybhindi"> <img src="crispybhindi.jpeg" alt=""></a>
    </div>

</center>
<br><br><br>
<%- include('footer') %>