<%- include('navbar') %>
<head>
    <title>Onion Recipes</title>
</head>
<br><br><br>
<center>
    <h2>Onion Recipes</h2>
    <div class="onionrcon">
        <!-- <img src="../Images/onionchutney.jpg" alt="jd" > -->
        <a href="/onlotusonion"><img src="onlotusonion.jpg"></a>
       <a href="/ononionpakoda"><img src="ononionpakoda.jpg"></a>
      <a href="/ononionkulambu"><img src="onionkulambu.jpg"></a>
       <a href="/ononionsalan"><img src="onionsalan.jpg"></a>
       <a href="/ononionchutney"><img src="onionchutney.jpg"></a>
    </div>
</center>
<br><br><br>
<%- include('footer') %>