<%- include('navbar') %>
<head>
    <title>onionKulamburecipe</title>
</head>
<br><br><br>
<center>
    <h2>ONION KULAMBU</h2>
    <div class="">
        <!-- <img src="../Images/onionchutney.jpg" alt="jd" > -->
        <br><br>
        <img src="onionkulambu.jpg">
        <h4>Vengaya Kuzhambu / Onion Garlic Curry
             Ingredients
            Sesame Oil - 2 tbsp
            Mustard seeds - ½ tsp
            urad dal – ¼ tsp
            Channa dal - ¼ tsp
            Vendayam / Fenugreek - ¼ tsp
            Curry Leaves - few
            Red Chilli - 1
            Shallots/ Small onions - 10-12, skin peeled
            Red onion - ½ cup, chopped finely
            Garlic - 10 pods
            Tomato - ¼ cup, chopped
            Turmeric Powder - 1 tsp
            Sambar powder - 3 tbsp
            Tamarind water - 4 cups
            Jaggery - 1tsp
            Salt - as needed
            </h4>
        

        </div>
</center>
<br><br><br>
<%- include('footer') %>

