<%- include('navbar') %>
<head>
    <title>onionKulamburecipe</title>
</head>
<br><br><br>
<center>
    <h2>ONION KULAMBU</h2>
    <div class="">
        <!-- <img src="../Images/onionchutney.jpg" alt="jd" > -->
        <br><br>
        <img src="onionsalan.jpg">
        <h4>Hyderabadi Dum Onion Ka Salan:

            Ingredients:
            
            500 grams small onions (peeled)
            2 tablespoons peanuts
            2 tablespoons sesame seeds
            2 tablespoons desiccated coconut
            1-inch piece of ginger
            4-5 garlic cloves
            2 tablespoons oil
            1 teaspoon mustard seeds
            1 teaspoon cumin seeds
            A pinch of asafoetida (hing)
            1 teaspoon turmeric powder
            1 tablespoon red chili powder
            1 tablespoon coriander powder
            Salt to taste
            Fresh coriander leaves for garnish
            
            Instructions:
            
            Make a paste by grinding peanuts, sesame seeds, desiccated coconut, ginger, and garlic with a little water.
            
            Heat oil in a pan over medium heat. Add mustard seeds and cumin seeds. Let them splutter.
            
            Add asafoetida to the pan. Then add the onion paste and sauté for a few minutes.
            
            Add turmeric powder, red chili powder, coriander powder, and salt. Mix well.
            
            Add peeled onions to the pan and sauté for 5 minutes.
            
            Add water to the pan, cover, and cook until the onions are tender.
            
            Garnish with fresh coriander leaves and serve hot with rice or roti.
            </h4>
        

        </div>
</center>
<br><br><br>
<%- include('footer') %>

