<%- include('navbar') %>
<head>
    <title>Peas Recipes</title>
</head>
<br><br><br>
<center>
    <h2>Peas Recipes</h2>
    <div class="peascon">
        <!-- <img src="../Images/onionchutney.jpg" alt="jd" > -->
        <img src="" alt="">
        </div>
</center>
<br><br><br>
<%- include('footer') %>