<%- include('navbar') %>
<head>
    <title>Potato Recipes</title>
</head>
<br><br><br>
<center>
    <h2>Potato Recipes</h2>
    <div class="potatorcon">
    <img src="aloopartha.jpg" alt="">
    <img src="aloogobi.jpg">
    <img src="aloomatar.jpg">
    <img src="dumaloo.jpg">
    <img src="potatosoup.jpg">
    </div>
</center>
<br><br><br>
<%- include('footer') %>