<%- include('navbar') %>
<head>
    <title>pumpkin Recipes</title>
</head>
<br><br><br>
<center>
    <h2>pumpkin recipes</h2>
    <div class="pumpkin">
      
        <img src="" alt="">
        </div>
    
</center>
<br><br><br>
<%- include('footer') %>