<%- include('navbar') %>
<head>
    <title>Shallots Recipes</title>
</head>
<br><br><br>
<center>
    <h2>Shallots Recipes</h2>
    <div class="shallotsrcon">
      
        <img src="" alt="">
        </div>
</center>
<br><br><br>
<%- include('footer') %>