<%- include('navbar') %>
<head>
    <title>Tomato Recipes</title>
</head>
<br><br><br>
<center>
    <h2>Tomato Recipes</h2>
    <div class="tomatorcon">
        <!-- <img src="../Images/onionchutney.jpg" alt="jd" > -->
        <img src="TomatoCurry.jpg" alt="">
        </div>
</center>
<br><br><br>
<%- include('footer') %>